" import .vimrc
source ~/.vimrc

imap <C-j> <CR>

" IdeaVim options
" Smart join for <C-J>
set ideajoin
" Map vim marks to IDEA global marks
set ideamarks

" plugin
set surround
set highlightedyank
set commentary

" plugin set
let g:highlightedyank_highlight_color = "rgba(230, 212, 130, 155)"

" comment
vmap gb <Action>(CommentByBlockComment)<Action>(EditorEscape)
nmap gb <Action>(CommentByBlockComment)<Action>(EditorEscape)


" jump
nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)
nmap <C-2> <Action>(JumpToLastWindow)
nmap g. <Action>(JumpToLastChange)

nmap g; <Action>(JumpToLastChange)
nmap g, <Action>(JumpToNextChange)

" move line
nmap <A-j> <Action>(MoveLineDown)
xmap <A-j> <Action>(MoveLineDown)
nmap <A-k> <Action>(MoveLineUp)
xmap <A-k> <Action>(MoveLineUp)

" lsp config
nmap gd <Action>(GotoDeclaration)
nmap gr <Action>(ShowUsages)
nmap gI <Action>(GotoImplementation)
nmap gt <Action>(GotoTypeDeclaration)
nmap <leader>gm <action>(gotosupermethod)
nmap gT <Action>(GotoTest)
nmap <leader>K <Action>(QuickJavaDoc) 
nmap ga <Action>(ShowIntentionActions)
nmap K <Action>(ShowHoverInfo)
nmap <leader>gi <Action>(ImplementMethods)
nmap <leader>go <Action>(OverrideMethods)

" code complete
nmap <A-,> <Action>(CodeCompletion)
nmap <C-y> <Action>(EditorChooseLookupItem)
imap <C-y> <Action>(EditorChooseLookupItem)
nmap <leader>g, <Action>(Generate)
nmap <leader>s, <Action>(SurroundWith)
vmap <leader>s, <Action>(SurroundWith)
nmap <C-,> <Action>(IntroduceVariable)

" diagnostic navigation
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)
nmap <leader>es <Action>(ShowErrorDescription)

" git change navigation
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)

" method navigation
nmap ]f <Action>(MethodDown)
nmap [f <Action>(MethodUp)

" search
nmap <leader>sa <Action>(GotoAction)
nmap <leader>sc <Action>(GotoClass)
nmap <leader>sf <Action>(GotoFile)
nmap <leader>sm <Action>(GotoSymbol)
nmap <leader>sr <Action>(RecentFiles)

nmap <leader>sg <Action>(FindInPath)
vmap <leader>sg <Action>(FindInPath)
nmap <leader>ss <Action>(Find)
vmap <leader>ss <Action>(Find)
nmap <leader>sx <Action>(Replace)
vmap <leader>sx <Action>(Replace)

" file manage
nmap <leader>rn <Action>(RenameElement)
nmap <leader>rf <Action>(RenameFile)

" new file
command! Fnew :action NewFile
command! Cnew :action NewClass
command! Dnew :action NewDir
command! Connew :action Jdbc.OpenConsole.New

" buffer navigation
nmap <leader>h <Action>(PreviousTab)
nmap <leader>l <Action>(NextTab)
nmap <leader>bb <Action>(CloseEditor)
nmap <leader>bo <Action>(CloseAllEditorsButActive)
nmap <leader>ba <Action>(CloseAllEditors)
nmap <leader>bh <Action>(CloseAllToTheLeft)
nmap <leader>bl <Action>(CloseAllToTheRight)
nmap <leader>bu <Action>(CloseAllUnmodifiedEditors)

" window navigation
nmap <leader>tt <Action>(ActivateTerminalToolWindow)
nmap <leader>te <Action>(ActivateProjectToolWindow)
nmap <leader>fd <Action>(ActivateDebugToolWindow)
nmap <leader>fr <Action>(ActivateRunToolWindow)
nmap <leader>fs <Action>(ActivateStructureToolWindow)
nmap <leader>fe <Action>(SelectInProjectView)

nmap <leader>uw <Action>(HideActiveWindow)
nmap <leader>ua <Action>(HideAllWindows)

" window split
nmap <leader>sp <Action>(SplitHorizontally)
nmap <leader>vp <Action>(SplitVertically)

" scroll
" nmap <leader>zh <Action>(EditorScrollLeft)
" nmap <leader>zl <Action>(EditorScrollRight)

" code fold
" nmap zc <Action>(CollapseRegion)
" nmap zC <Action>(CollapseRegionRecursively)
" nmap zo <Action>(ExpandRegion)
" nmap zO <Action>(ExpandRegionRecursively)
" nmap zm <Action>(CollapseAllRegions)
" nmap zr <Action>(ExpandAllRegions)

" run/debug
nmap <leader>dr <Action>(ChooseDebugConfiguration)
nmap <leader>ds <Action>(Stop)

nmap <leader>dh <Action>(RunToCursor)
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>dc <Action>(AddConditionalBreakpoint)
nmap <leader>de <Action>(EvaluateExpression)

nmap <leader>rr <Action>(ChooseRunConfiguration)
nmap <leader>rs <Action>(Stop)

" datagrip
nmap <leader>rx <Action>(Console.Jdbc.Execute)
vmap <leader>rx <Action>(Console.Jdbc.Execute)
nmap <leader>rp <Action>(Console.Jdbc.ExplainPlan)
vmap <leader>rp <Action>(Console.Jdbc.ExplainPlan)
nmap <leader>fm <Action>(Console.Jdbc.ChooseSchema)

